.wholePage{
    width: 80%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top: 60px;
}

.sideContainer{
    width: 20%;
    height: 100%;
    background-color: #fff;
    display: flex;
    z-index: 10;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top:60px;
}

.sideContainer > *{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.sideContainer > *:hover{
    background-color: rgba(179, 179, 179);
    transition: 300ms;
}