.storeContainer{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.storeHead{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;   
    margin-left: 30px;
}

.storeImage{
    width: 100%;
    margin-top: -12%;
    margin-left: 30px;
}

.storeImageRound{
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
    background-color: #fff;
}

.storeInfo{
    max-width:100% ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.storeProducts{
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 70px;

}

.storeReviews{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}

.onStoreReview{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
}

.storeControl{
    position: fixed;
    right: 20px;
    width: 150px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
    cursor: pointer;
}

.storeControl:hover{
    background-color: #FF5050;
    transition: 300ms;
}