.productContainer{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.imagesHolder{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    overflow-x: scroll;
}

.productImage{
    box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
    border-radius: 10px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.productOneImage{
    margin: 10px;
}

.overview{
    margin: 10px;
}

.description{
    margin: 10px;

}

.pColor{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 2px;
}

.orderActions{
    margin: 10px;
}

.productReviewsContainer{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.oneReview{
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
    padding: 10px;
}

.shareProduct{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.share{
    border: 1px solid #0E2A47;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

.share:hover{
    background-color: #fff;
}

.addProductReview{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.similarProducts{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.productBanner{
    margin-top: -20px;
    z-index: -1;
}