.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: nowrap;
    height: 60px;
}

.row{
    display: flex;
    flex-direction: row;
}

.navOptions{
    margin: 0px 15px 0px 15px;
    cursor: pointer;
    position: relative;
}

.navOptions::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 3px;
    width: 0px;
    border-radius: 2px;
    background-color: #f2f2f2;
    transition: 0.3s ease;
}

.navOptions:hover::after{
    width: 100%;
}

.link{
    text-decoration: none;
}

.goUp{
    width: 50px;
    height: 50px;
    background-color: #FF5050;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
