.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.row{
    display: flex;
    flex-direction: row;
}

.navOptions{
    margin: 0px 15px 0px 15px;
    cursor: pointer;
    position: relative;
}

.navOptions::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 3px;
    width: 0px;
    border-radius: 2px;
    background-color: #f2f2f2;
    transition: 0.3s ease;
}

.navOptions:hover::after{
    width: 100%;
}

.link{
    text-decoration: none;
}