.footerContainer{
    width: 100%;
    min-height: 150px;
    background-color: #05716C;
    position: static;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.footerSection{
    height: 90%;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}