.productsContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.categoryControl{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.categoryDisplay{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoryDisplay > *{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border-radius:10px;
    background-color:#0E2A47;
    width:300px;
}